<link rel="stylesheet" type="text/css" href="3d-model-page.css">
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
<body class="modeling-page">
	<h1 class="modeling-hero">3d modeling</h1>
	<div class="sketchfab-embed-wrapper"><iframe width=100% height=50% src="https://sketchfab.com/models/e18322611316472dadc96f2c6c437f2c/embed?annotation_cycle=5&amp;autospin=0.2&amp;blending=1&amp;preload=1" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
	</div>
</body>
