.modeling-page {
	background-color: black;
}
.modeling-hero {
	color: #727272;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 80px;
	padding-top: 50px;
}
.sketchfab-embed-wrapper {
	border-style: solid;
    border-left: solid #FBB238;
}
